@media screen and (min-width: 700px) {
  body > main {
    position: relative;
    top: 60px;
    margin-right: auto;
    margin-left: auto;
    min-height: 700px;
  }
}


*, *::after, *::before {
  box-sizing: border-box;
}


* {
  padding: 0;
  margin: 0;
}


html * {
  font-family: 'monospace', sans-serif;
}


main {
  min-height: 100vh;
  border:1px solid black;
  background-color: rgb(197, 97, 97);
  max-width: 700px;
  /* padding: 20px; */
}

/* MODAL BEGIN */

.settings-modal {
  display: none;
  position: absolute;
  z-index: 10;
  height:100vh;
  width:100vw;
  max-width: 700px;
  max-height: 700px;
  top: 0;
  left: 0;
  background-color: #ccc;
  padding: 20px;
}


.settings-content {
  font-size: 1.44em;
  line-height: 4.50em;
}


.settings-content > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}


.settings {
  float: right;
}

/* MODAL END */


.gear {
  font-size: 4.5em;
  float: right;
  padding: 30px;
}


.tomato {
  position: relative;
  top: 150px;
  left: 50px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 100%;
  overflow: hidden;
}


.fill {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
  transition: height 100ms;
  border-radius: 100%;
  background-color: rgb(240, 4, 44);
}


.timer-button-container {
  position: absolute;
  left: 50%;
}

.timer-button {
  position: relative;
  top: 250px;
  left: -50%;
  padding: 30px;
}
