/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v9/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@media screen and (max-width: 500px) {
	.quote-text-container > .quote-holder {
		font-size: 1.3em;
		top: 8%;
	}
}


*, *::after, *::before {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
}


html, body, main {
  height: 100%;
  width: 100%;
}

html * {
  font-size: 1.05em;
  font-family: 'Indie Flower';
}

body {
  background: linear-gradient(#eee, #666);
}


.quote-area {
  position: relative;
  top: 8%;
  width: 75%;
  height: 75%;
  max-width:  1300px;
  max-height: 1300px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  opacity: 0.4;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote-text-container {
	/* display: none; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(100, 100, 100, 0.7);
}


.quote-holder {
	position: relative;
	top: 20%;
	width: 55%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.8em;

}


.quote-button {
  position: relative;
  top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  background-color: #555;
  color: #eee;
  border: 1px solid #aaa;
  transition: transform 0.3s;
}


.quote-button:hover {
  background-color: #aaa;
}


.active-button {
  transform: scale(1.2, 1.2);
}


.quote-symbol {
	font-size: 2em;
}


footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  top: 15%;
}


a {
  color: inherit;
  font-weight: bold;
}
